html, body {
    height: 100%;
  }
.container {
    display: flex;
    overflow: auto;
    flex: none;
  }
.container.y {
    flex-flow: column nowrap;
  }
y.mandatory-scroll-snapping{
    scroll-snap-type: y mandatory;
}
.container > div {
    scroll-snap-align: center;
    flex: none;
  }
  .y.container > div {
    height: 100%;
  }